/*  your css code here. If applicable */
body{
	margin:0;
	background-color: rgb(135, 206,235);
	display:flex;
	pseudo-class:root;
}
#ab{
	background-color:black;
	margin-top:0;
	display:flex;
	width:100%;
	text-align:justify;
	height:40px;
	color:white;
}
#last-child{
	color:red;
}
#abc{
	width:50%;
	padding:10px;
}
#a{
	background-color:white;
	font-size:22px
	/* display:flex; */

	align-items:center;
	/* text-align:center; */
}
#b{
	background-color:gray;
	/* display:flex; */
	

	align-items:center;
	/* text-align:center; */
}
#c{
	background-color:pink;
	/* display:flex; */
	
	
	align-items:center;
	/* text-align:center; */
}
#d{
	background-color:gray;
	/* display:flex; */


	align-items:center;
	/* text-align:center; */
}
#e{
	background-color:white;
	font-size:22px;
	/* display:flex; */


	align-items:center;
	/* text-align:center; */
}
